.login-main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/assets/bgImg.jpg");
  background-size: cover;
}
.login-card {
  width: 25%;
  height: auto;
  background-color: white;
}
.img-container-section {
  display: flex;
  justify-content: center;
}
.login-img {
  height: 100px;
  width: 100px;
  background-image: url("../.././public/assets/login.jpg");
  background-size: cover;
  border: solid 1px orange;
  border-radius: 50%;
}
.login-title {
  text-align: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}
.login-form label {
  margin: 5px;
  text-align: left;
  font-family: sans-serif;
}
.login-form input {
  width: 350px;
  margin: 5px;
  padding: 15px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
